.button{
	width : 52px;
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	text-align: center;
	color: white;
	font-size: 24px;
	font-family:"Arial";
	padding: 3px;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px 10px / 10px;
	position: fixed;
	height: 30px;
	
}

.container{
	height: 500px;
	width: 635px;
	background: black;
	background-image: url('dark-background.jpeg');
}

#one{
	left:335px;
	top: 380px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#four{
	top: 315px;
	left:335px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#seven{
	top: 250px;
	left:335px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}

#c{	
	left:335px;
	top: 185px;
	background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}
#mc{
	left:335px;
	top: 120px;
}
#dot{
	left: 150px;
	top: 400px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#minus{
	left: 575px;
	top: 250px;
		background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}
#plus{
	left: 575px;
	top: 315px;
		background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}

#two{
	top:380px;
	left:415px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#five{
	left:415px;
	top: 315px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#eight{
	left: 415px;
	top: 250px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#sign{
	left: 415px;
	top: 185px;
	background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}
#mplus{
	left: 415px;
	top: 120px;
}
#mminus{
	left: 495px;
	top: 120px;
}
#div{
	left: 495px;
	top: 185px;
	background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}
#nine{
	left:495px;
	top: 250px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#six{
	left: 495px;
	top: 315px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#three{
	top: 380px;
	left: 495px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#dot{
	top: 445px;
	left: 495px;
}
#mult{
	left: 575px;
	top:185px;
	background-image: linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -o-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -moz-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -webkit-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
background-image: -ms-linear-gradient(bottom, rgb(166,149,115) 80%, rgb(214,210,199) 94%);
}
#mr{
	top:120px;
	left:575px;
}
#zero{
	width: 132px;
	top: 445px;
	left:335px;
	background-image: linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -o-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -moz-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -webkit-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
background-image: -ms-linear-gradient(top, rgb(97,97,97) 0%, rgb(0,0,0) 94%);
}
#equal{
	height: 95px;
	left:575px;
	top: 380px;
	bottom: 0px;
	background-image: linear-gradient(bottom, rgb(255,132,0) 9%, rgb(250,235,190) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,132,0) 9%, rgb(250,235,190) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,132,0) 9%, rgb(250,235,190) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,132,0) 9%, rgb(250,235,190) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,132,0) 9%, rgb(250,235,190) 100%);
text-align: bottom;
}
.output{
	position: fixed;
	width: 620px;
	height: 80px;
	background: #F6F7CE;
	left:15px;
	top:20px;
	/*background-image: linear-gradient(bottom, rgb(250,248,205) 13%, rgb(222,222,213) 57%, rgb(242,245,199) 79%);
background-image: -o-linear-gradient(bottom, rgb(250,248,205) 13%, rgb(222,222,213) 57%, rgb(242,245,199) 79%);
background-image: -moz-linear-gradient(bottom, rgb(250,248,205) 13%, rgb(222,222,213) 57%, rgb(242,245,199) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(250,248,205) 13%, rgb(222,222,213) 57%, rgb(242,245,199) 79%);
background-image: -ms-linear-gradient(bottom, rgb(250,248,205) 13%, rgb(222,222,213) 57%, rgb(242,245,199) 79%);*/
}
#eSign{
	position: fixed;
	top: 450px;
	left: 600px;
	color: white;
	font-size: 20px;
}
#sec{
	left: 15px;
	top:120px;	
}
#recipricol{
	left:15px;
	top: 185px;
}
#factorial{
	left: 15px;
	top: 250px;
}
#sin{
	left: 15px;
	top: 315px;
}
#sinh{
	left: 15px;
	top: 380px;
}
#deg{
	left: 15px;
	top: 445px;
}
#left_par{
	left: 95px;
	top: 120px;
}
#squared{
	left: 95px;
	top: 185px;
}
#sqrt{
	left:95px;
	top: 250px;
}
#cos{
	left:95px;
	top:315px;
}
#cosh{
	left: 95px;
	top:380px;
}
#pi{
	left: 95px;
	top: 445px;
}
#right_par{
	left:175px;
	top: 120px;
}
#cube{
	left:175px;
	top: 185px;
}
#xrooty{
	left: 175px;
	top: 250px;
}
#tan{
	left: 175px;
	top: 315px;
}
#tanh{
	left: 175px;
	top: 380px;
}
#EE{
	left: 175px;
	top: 445px;
}
#percent{
	left:255px;
	top: 120px;
}
#yx{
	left:255px;
	top: 185px;
}
#log{
	left:255px;
	top: 250px;
}
#ln{
	left: 255px;
	top: 315px;
}
#ex{
	left:255px;
	top: 380px;
}
#Rand{
	left:255px;
	top: 445px;
}
.littlex{
	position: fixed;
	color: white;
	font-size: 10px;
}
#xroot{
	left: 195px;
	top: 250px;
}
#xpower{
	left: 290px;
	top: 185px;
}
#etothex{
	left: 290px;
	top: 380px;
}