.button{
	width : 42px;
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 3px;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px 10px / 10px;
}

.container{
	height: 480px;
	width: 320px;
	background: black;
}

#c{
	left: 1px;
	top: 20px;
}