#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}


body{
	background-image: url('background.png');
	background-color: black;
}


#navigation li 
{
display: inline;
list-style-type: none;
padding-right: 0px;
}

div{
color : blue;
}
.rectangle {
	width: 200%;
	height: 15px;
	background: black;
	padding-left = 0px;
	padding-right = 0px;
}