.container{
	background-image: url('background.png');
	height: 475px;
	width: 607px;
}
#bar{
	position: fixed;
	left: 350px;
	top: 450px;
	z-index: 1;
}
ul{
	list-style: none;
}
div{
	color : white;
}
.rectangle {
	position: fixed;
	width: 607px;
	height: 20px;
	top: 1px;
	background: black;
	padding-left: 0px;
	padding-right: 0px;
}
#contacts{
	position: fixed;
	top: 20px;
	left: 350px;
	width: 265px;
	height: 460px;
	background-color: rgb(21,21,21);
	opacity: 0.8;
}

#navigation{
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 380px;
	height: 100px;
	opacity: 0.7;
	z-index: 1;
	padding: 1px;
	margin: 0px;
}
#list{
	position: fixed;
	top: 25px;
	left: 325px;
	height: 425px;
	opacity: 0.7;
	width: 280px;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}
.circle{
  position: fixed;
  border-radius: 50%;
  width: 10px;
  height: 10px; 
  top: 5px;
  /* width and height can be anything, as long as they're equal */

}
/*#exit li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}*/

#red{
	background-color: red;
	left: 10px;
	
}
#yellow{
	background-color: yellow;
	left: 25px;
	
}
#green{
	background-color: green;
	left: 40px;
}
.contact{
	width: 20px;
	height: 30px;
	background-color: black;
	color: white;
	list-style: none;
}

#all{
	text-align: center;
}
#search{
	position: absolute;
	top: 6px;
	left: 20px;
	width: 188px;
	height: 10px;
	background-color: light gray;
	border: none;
}


#background{
	width:70%;
	height: 90%;
}
