#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}


body{
	background-image: url('background.png');
	background-color: black;
}


#navigation li 
{
display: inline;
list-style-type: none;
padding-right: 0px;
}

div{
color : blue;
}
.rectangle {
	width: 200%;
	height: 15px;
	background: black;
	padding-left = 0px;
	padding-right = 0px;
}
#contacts{
	position: absolute;
	top: 17px;
	right: 20px;
	width: 50%;
	height: 100%;
	opacity: 0.7;
}

#navigation{
	position: absolute;
	bottom: 10px;
	right: 20px;
	width: 50%;
	height: 20%;
	opacity: 0.7;
	z-index: 1;
}